@font-face {
    font-family: "custom";
    src: url('./eval1.otf');
}


*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-family: 'custom', sans-serif;
}

#titres {
    text-align: center;
    width : 100%;
    color: #ffcf68;
}

nav {
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;

    width: 20vw;
    height: 100vh;
    background-color: black;
    color: #ffcf68;
    top: 0vh;

    text-align: center;
}

#logo {
    height: 30%;
    margin-top: -3vh;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    left: 20%;

}

article {
    height: 50vh;
    width: 60vw;
    padding: 5px;
    margin: 30px;
    box-shadow: #000000 2px 2px 5px 0;
    border-radius: 5px;
    font-size: 14pt;
}

p
{
   margin:15px;
}

#groupe1, #groupe2 {
    width: 550px;
    height: 367px;
    display: block;
    margin: auto;
    padding: 20px;
}

.bouton {
    display: block;
    text-decoration: none;
    width: 80%;
    height: 5vh;
    color: #ffcf68;
    text-align: center;
    padding-top: 7px;
    border-radius: 2.5vh;
    transition: background-color 600ms, color 100ms, border 1200ms;
}

#divTest, #divQuiMarche{
    display: flex;
    flex-direction: row;

}